# Please take extra care not to add rules that will make tracked files ignored.
# To test that, run `git ls-files -i -o --exclude-standard`.
# To check why a specific file is ignored, run `git check-ignore -v <filepath>`.

# env file
# /src/.env

# **/: Matches any level of directories recursively.
**/node_modules
/database_data
/test